name: Sync FlashPipe Demo Package Artifacts to Tenant
on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    container:
      image: engswee/flashpipe:latest

    steps:
      - uses: actions/checkout@v4

      - name: 'Sync package to remote'
        uses: engswee/flashpipe-action/update/package@v1
        with:
          tmn-host: dummy.hana.ondemand.com
          oauth-host: dummy.authentication.eu10.hana.ondemand.com
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}
          package-file-relative: FlashPipe Demo/Demo.json

      - name: 'Sync FlashPipeDemo artifacts'
        uses: engswee/flashpipe-action/sync@v1
        with:
          tmn-host: ${{ secrets.DEV_TMN_HOST }}
          oauth-host: ${{ secrets.DEV_OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}
          package-id: Demo
          target: tenant
          dir-artifacts-relative: Test2
