name: Sync CPI Artifacts to GitHub

on:
  workflow_dispatch:
  schedule:
    - cron: "30 14 * * *" # optional daily run

jobs:
  sync:
    runs-on: ubuntu-latest

    container:
      image: engswee/flashpipe:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Sync CPI artifacts using FlashPipe
        uses: engswee/flashpipe-action/sync@v1
        with:
          tmn-host: ${{ secrets.DEV_TMN_HOST }}
          oauth-host: ${{ secrets.DEV_OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}


          package-id: POC-2     

          # folder where artifacts will be saved inside repo
          dir-artifacts-relative: cpi-artifacts

          # Commit message
          git-commit-msg: "Automated sync from CPI tenant"

         
          sync-package-details: true
