name: Full CPI Tenant Backup

on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    container:
      image: engswee/flashpipe:latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Sync ALL CPI packages
        uses: engswee/flashpipe-action/sync@v1
        with:
          tmn-host: ${{ secrets.DEV_TMN_HOST }}
          oauth-host: ${{ secrets.DEV_OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}
          dir-artifacts-relative: all-packages
          sync-package-details: true
          git-commit-msg: "Full CPI Backup"
